:root {
  --box-color: #ddad5d;
  --logo-color: #58ade2;
  --knight-color: #304184;
  --peasant-color: #7c4b2a;
  --monk-color: #c15020;
  --gold-color: #f5d214;
}

body {
  background-color: var(--box-color);
  color: var(--knight-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 4ch;
}
